.data-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
  background: linear-gradient(#212121, #212121) padding-box,
  linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
}

.data-table th,
.data-table td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}

.data-table th {
  cursor: pointer;
}

.data-table th:hover {
  border-bottom: 1px solid #40c9ff;
}

.select {
  border-bottom: 1px solid #40c9ff;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_bottom {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.pagination {
  width: 200px;
  display: flex;
  justify-content: space-evenly;
}

.pagination span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: 42px;
  background-color: rgb(47, 10, 85);
  border-radius: 50%;
}

.message {
  opacity: 0;
  font-size: 24px;
  transition: opacity 0.5s ease-in-out;
}

.message.visible {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.pasteInput {
  background-color: rgb(80, 4, 90);
  width: auto;
  font-size: 16px;
  height: 16px;
}

@media (max-width: 768px) {

  .pagination span {
    font-size: 12px;
    height: 26px;
    width: 26px;
  }

  .log_btn {
      padding: 0 8px;
      font-size: 12px;
      height: 24px;
    }

  .log_status {
    font-size: 26px;
  }

  .data-table {
    font-size: 6px;
    width: 95vw;
  }

  .data-table th,
  .data-table td {
    white-space: normal;
    padding: 1px;
  }
}
