.data-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}

.data-table th,
.data-table td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_bottom {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.pagination {
  width: 200px;
  display: flex;
  justify-content: space-evenly;
}

.pagination span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: 42px;
  background-color: rgb(47, 10, 85);
  border-radius: 50%;
}

.message {
  font-size: 24px;
}

.pasteInput {
  background-color: rgb(80, 4, 90);
  width: 95%;
  font-size: 16px;
  height: 20px;
}